
<div class="container">
   
    <div class="row" style="margin-top: 200px;">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h3> Sign In</h3>
            <div class="form">
                <div class="mb-3">
                    
                    <label for="user-type" class="float-start">Select User</label>
                    <select id="user-type" [(ngModel)]="selectedUser" class="form-select" style="margin-bottom: 15px;" >
                        <option value="1">Administrator</option>
                        <option value="2">User</option>
                    </select>
                    
                </div>
                <div class="form-floating mb-3">
                    
                    <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Email Id">
                    <label for="email">Email Id</label>
                </div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary" (click)="onLogin()" >Sign in</button>
                 <!-- <a class="btn btn-primary" href="home/user-home" >Sign in</a> -->
                <a routerLink="/signup" class="btn btn-warning float-right">Signup</a>
            </div>
        </div>
       
    </div>
</div>
