<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User account activation</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <style>
        .heading-text {
            margin-top: 25px;
            color: gray;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center heading-text"> Online Test Creator E-Assesment System Your OTP (One Time Password)</h1>
        <hr>
        <div class="row">
            <div class="col-md-12 ">
                    <div class="card-body">
                        <h5 class="card-title">Hello firstName, </h5>
                        <p class="card-text"> Your OTP is : otp</p>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">Best regards,<div>Administrator</div></div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>