<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User account activation</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <style>
        .heading-text {
            margin-top: 25px;
            color: gray;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center heading-text"> Welcome to Online Test Creator E-Assesment System</h1>
        <hr>
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-header">
                       Request for Account Activation
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hello firstName, </h5>
                        <p class="card-text">Please activate your account by clicking the button below.</p>
                        <a href="activationLink" class="btn btn-primary">Activate</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">Best regards,<div>Administrator</div></div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>